server:
  port: 8070
spring:
  application:
    name: microservice-sidecar-node-service
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
sidecar:
  port: 8060  #Node.js微服务端口
  health-url: http://localhost:8060/health.json  #Node.js 微服务的健康检查URL